![](https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/IOC_Logo.svg/2341px-IOC_Logo.svg.png)

# Introduction

Welcome to your first day as an analyst working for the IOC! The IOC is at the very heart of world sport, supporting every Olympic Movement stakeholder, promoting Olympism worldwide, and overseeing the regular celebration of the Olympic Games.

For a moment of glory on the medalist podium, elite athletes dedicate *everything* to their sport. Olympics medalists from 1896 through 2016 comprise the dataset you'll be working with. Who are the youngest and oldest medalists of all time? Are there physical differences between Summer Olympics medalists and Winter Olympics medalists? You're about to use your data coding chops to find out!

You'll start this Milestone assignment by cleaning and filtering the data. So many of your Python skills that you've learned so far will be at play. Are you up for it? Let's go! 

### Dataset Description

The dataset is stored in a .csv file named `olympics.csv`. It contains the following columns:

* **ID**: A unique identifying number of each athlete
* **Name**: The name of each athlete
* **Sex**: M or F
* **Age**: The age of an athlete, in years, at the time they competed.
* **Height**: The height of an athlete, in centimeters
* **Weight**: The weight of an athlete, in kilograms
* **Team**: The name of the athlete’s team. Not always the name of a country.
* **NOC**: National Olympic Committee’s 3 letter code
* **Games**: Year and season
* **Season**: Summer or Winter
* **City**: Host city
* **Sport**: The sport or category of an olympic event/activity
* **Event**: specific event within a sport, e.g. Men’s 400 meters breaststroke.
* **Medal**: Gold, Silver, Bronze
* **Region**: Name of athlete’s country

# Task 1: Data Inspection

![](https://media.giphy.com/media/42wQXwITfQbDGKqUP7/giphy.gif)

In [1]:
# import the pandas library
import pandas as pd

In [2]:
# Load in the data
df = pd.read_csv('datasets/olympics.csv')

In [3]:
# Preview DataFrame
df.sample(10)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region
8231,30576,Alina Alexandra Dumitru (-Croitoru),F,25.0,158.0,48.0,Romania,ROU,2008 Summer,2008,Summer,Beijing,Judo,Judo Women's Extra-Lightweight,Gold,Romania
27243,94446,"Maria Johanna ""Zus"" Philipsen-Braun",F,16.0,170.0,NaN,Netherlands,NED,1928 Summer,1928,Summer,Amsterdam,Swimming,Swimming Women's 400 metres Freestyle,Silver,Netherlands
28002,97125,Yelena Sergeyevna Produnova,F,20.0,150.0,39.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Women's Balance Beam,Bronze,Russia
27534,95581,"Stephen Gregory ""Steve"" Podborski",M,22.0,NaN,NaN,Canada,CAN,1980 Winter,1980,Winter,Lake Placid,Alpine Skiing,Alpine Skiing Men's Downhill,Bronze,Canada
4719,17525,Eva Calvo Gmez,F,25.0,176.0,57.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Featherweight,Silver,Spain
4663,17351,Lucas Calabrese,M,25.0,168.0,60.0,Argentina,ARG,2012 Summer,2012,Summer,London,Sailing,Sailing Men's Two Person Dinghy,Bronze,Argentina
29139,101239,Daphne Lilian Evelyn Robb-Hasenjger,F,23.0,165.0,59.0,South Africa,RSA,1952 Summer,1952,Summer,Helsinki,Athletics,Athletics Women's 100 metres,Silver,South Africa
11215,40726,Damir Glavan,M,22.0,NaN,NaN,Croatia,CRO,1996 Summer,1996,Summer,Atlanta,Water Polo,Water Polo Men's Water Polo,Silver,Croatia
17335,60920,Harold Edward Kitching,M,22.0,NaN,81.0,Cambridge University Boat Club-2,GBR,1908 Summer,1908,Summer,London,Rowing,Rowing Men's Coxed Eights,Bronze,UK
22786,78740,Carol Jean Menken-Schaudt,F,26.0,195.0,77.0,United States,USA,1984 Summer,1984,Summer,Los Angeles,Basketball,Basketball Women's Basketball,Gold,USA

In [4]:
# Inspect the numbers of rows and columns
df.shape

(39783, 16)

In [5]:
# Inspect column names
df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal', 'region'],
      dtype='object')

In [6]:
# Inspect column data types, memory usage, etc.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39783 entries, 0 to 39782
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      39783 non-null  int64
 1   Name    39783 non-null  object
 2   Sex     39783 non-null  object
 3   Age     39051 non-null  float64
 4   Height  31072 non-null  float64
 5   Weight  30456 non-null  float64
 6   Team    39783 non-null  object
 7   NOC     39783 non-null  object
 8   Games   39783 non-null  object
 9   Year    39783 non-null  int64
 10  Season  39783 non-null  object
 11  City    39783 non-null  object
 12  Sport   39783 non-null  object
 13  Event   39783 non-null  object
 14  Medal   39783 non-null  object
 15  region  39774 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 4.9+ MB

In [7]:
# Display a statistcial summary of the data
df.describe()

                  ID           Age        Height        Weight          Year
count   39783.000000  39051.000000  31072.000000  30456.000000  39783.000000
mean    69407.051806     25.925175    177.554197     73.770680   1973.943845
std     38849.980737      5.914026     10.893723     15.016025     33.822857
min         4.000000     10.000000    136.000000     28.000000   1896.000000
25%     36494.000000     22.000000    170.000000     63.000000   1952.000000
50%     68990.000000     25.000000    178.000000     73.000000   1984.000000
75%    103461.500000     29.000000    185.000000     83.000000   2002.000000
max    135563.000000     73.000000    223.000000    182.000000   2016.000000

In [8]:
# What types of medals are there?
df['Medal'].unique()

array(['Gold', 'Bronze', 'Silver'], dtype=object)

# Task 2: Data Cleaning

![](https://media.giphy.com/media/10zsjaH4g0GgmY/giphy.gif)

In [9]:
# Rename 'NOC' column to 'CountryCode'
# Rename 'region' column to 'Country'
df2 = df.rename(columns={'NOC':'Country Code', 'region':'Country'})

In [10]:
# Remove the 'Team' column
df2.drop(columns=['Team'])

,ID,Name,Sex,Age,Height,Weight,Country Code,Games,Year,Season,City,Sport,Event,Medal,Country
0,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark
1,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze,Finland
2,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze,Finland
3,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze,Finland
4,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze,Finland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39778,135553,Galina Ivanovna Zybina (-Fyodorova),F,25.0,168.0,80.0,URS,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,Silver,Russia
39779,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze,Russia
39780,135554,Bogusaw Zych,M,28.0,182.0,82.0,POL,1980 Summer,1980,Summer,Moskva,Fencing,"Fencing Men's Foil, Team",Bronze,Poland
39781,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze,Russia
39782,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver,Russia

# Task 3: Data Analysis

![](https://media.giphy.com/media/MT5UUV1d4CXE2A37Dg/giphy.gif)

In [11]:
# What is the youngest age of an Olympics medalist?
df2['Age'].min()

10.0

In [12]:
# What is the oldest age of an Olympics medalist?
df2['Age'].max()

73.0

In [13]:
# How many of each medal were awarded?
df2['Medal'].value_counts()
# I found it pretty weird that the amount of gold medals are more than the silver ones. Does that mean getting a silver medal is the best since it is the rarest of the 3?

Gold      13372
Bronze    13295
Silver    13116
Name: Medal, dtype: int64

In [14]:
# How many events are there?
df2['Event'].nunique()

756

In [15]:
# How many sports are there?
df2['Sport'].nunique()

66

In [16]:
# What is the average age of an Olympics medalist?
df2['Age'].mean()

25.925174771452717

In [17]:
# Among the 10 oldest medalists, what are the most common sports?
df3 = df2.sort_values(by='Age', ascending = False)
df3.head(10)['Sport'].value_counts()
#Art Competitions are the most common within the 10 oldest medalists.

Art Competitions    5
Sailing             3
Shooting            1
Archery             1
Name: Sport, dtype: int64

In [41]:
# What are the 10 winningest countries in total medal count?
df4 = df2['Country'].value_counts()
df4.head(10)
#Thanks to the info in part 1, I confirmed that all the 'Medal' rows contain non-null values (39783 non-null matched with the number of rows in the data). So by filitering countries that have the most entries, the 10 countries that has the most medals are USA, Russia, Germany, UK, France, Italy, Sweden, Canada, Australia, and Hungary in descending order.

USA          5637
Russia       3947
Germany      3756
UK           2068
France       1777
Italy        1637
Sweden       1536
Canada       1352
Australia    1349
Hungary      1135
Name: Country, dtype: int64

In [39]:
# How many medals have been awarded in the sport of trampolining?
df5 = df2[df2['Sport'] == "Trampolining"]
df5.shape
# Because all values in "Medal" or non-null values, so just by filtering to get "Trampolining" as a sport, I know that there are 30 entries of trampolining. Hence 30 medals have been given in this sport.

(30, 16)

# Level Up

![](https://media.giphy.com/media/YYaapBJ7UAZp9DJS7o/giphy.gif)

Want to Level Up your practice? We love to see it! Take a crack at some of these extra challenges, including visualizing some of this here data.

In [54]:
# How many gold medals were awarded to the United States?
df6 = df2[(df2['Country'] == 'USA') & (df2['Medal'] == 'Gold')]
df6.shape

(2638, 16)

In [57]:
# List the Olympics in dataset, starting with the most recent
# I don't understand the question. I assume I will just list the games chronologically. 
df2.sort_values(by = 'Games', ascending = False)

,ID,Name,Sex,Age,Height,Weight,Team,Country Code,Games,Year,Season,City,Sport,Event,Medal,Country
34788,119903,Elaine Thompson,F,24.0,167.0,57.0,Jamaica,JAM,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's 100 metres,Gold,Jamaica
13770,48858,Sophie Hitchon,F,25.0,170.0,75.0,Great Britain,GBR,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's Hammer Throw,Bronze,UK
35308,121412,Matej Tth,M,33.0,185.0,73.0,Slovakia,SVK,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 50 kilometres Walk,Gold,Slovakia
35296,121345,Eri Tosaka,F,22.0,152.0,48.0,Japan,JPN,2016 Summer,2016,Summer,Rio de Janeiro,Wrestling,"Wrestling Women's Flyweight, Freestyle",Gold,Japan
3963,15071,Thomas Briels,M,28.0,172.0,71.0,Belgium,BEL,2016 Summer,2016,Summer,Rio de Janeiro,Hockey,Hockey Men's Hockey,Silver,Belgium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16275,57486,Pantelis Karasevdas,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Shooting,"Shooting Men's Military Rifle, 200 metres",Gold,Greece
27077,94075,Dimitrios Stephen Petrokokkinos,M,17.0,NaN,NaN,Greece-1,GRE,1896 Summer,1896,Summer,Athina,Tennis,Tennis Men's Doubles,Silver,Greece
35617,122526,Pierre Alexandre Tuffri,M,19.0,NaN,NaN,France,FRA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's Triple Jump,Silver,France
6473,24423,"Thomas Pelham ""Tom"" Curtis",M,23.0,176.0,66.0,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's 110 metres Hurdles,Gold,USA
11599,42102,Miltiadis Gouskos,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's Shot Put,Silver,Greece

In [82]:
df8 = df2[df2['Season'] == 'Winter']
df8['Games'].value_counts
# I do this to see what is the most recent Winter Olympics is.

<bound method IndexOpsMixin.value_counts of 3        2014 Winter
9        1992 Winter
10       1992 Winter
11       1994 Winter
12       1994 Winter
            ...
39724    1992 Winter
39747    1988 Winter
39748    1988 Winter
39749    1988 Winter
39750    2010 Winter
Name: Games, Length: 5695, dtype: object>

In [74]:
# Average medalist height in the most recent Winter Olympics
df7 = df2[df2['Games'] == "2014 Winter"]
df7.agg({'Height':'mean'})

Height    175.353434
dtype: float64

In [83]:
# Average medalist weight in the most recent Winter Olympics
df9 = df2[df2['Games'] == "2014 Winter"]
df9.agg({'Weight':'mean'})

Weight    72.208772
dtype: float64

In [84]:
# Average medalist height in the most recent Summer Olympics 
df10 = df2[df2['Games'] == "2016 Summer"]
df10.agg({'Height':'mean'})

Height    178.370792
dtype: float64

In [85]:
# Average medalist weight in the most recent Summer Olympics 
df11 = df2[df2['Games'] == "2016 Summer"]
df11.agg({'Weight':'mean'})

Weight    73.961787
dtype: float64

In [42]:
# Import plotly express library
import plotly.express as px

In [91]:
# Asssign top 10 winningest countries table to a variable
# You did this in task 3
df4 = df2['Country'].value_counts()
df4.head(10)

USA          5637
Russia       3947
Germany      3756
UK           2068
France       1777
Italy        1637
Sweden       1536
Canada       1352
Australia    1349
Hungary      1135
Name: Country, dtype: int64

In [98]:
# Visualize the table as a bar chart
px.bar(df4.head(10), label = {'x':'Countries', 'y':'Medals'}, title: '10 Countries that Have The Most Medals in Olympics')

SyntaxError: positional argument follows keyword argument (576662444.py, line 2)